html,
body {
  background: rgb(235, 229, 229);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}
/* Navbar*/
.container {
  width: 100%;
  margin-top: 0;
  content: '';
  display: table;
  clear: both;
}

header {
  background-color: lightsteelblue;

}
header:after {
content: '';
display: table;
clear: both;
}
.logo {
  float: left;
  padding: 0 0;
}
nav {
  float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
}
nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
nav a:hover {
    color: white;
}
/*Grid*/

div {
    display: grid;
    grid-gap: 40px;
    grid-auto-rows: 300px;
    margin-top: 30px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
.container-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
    align-items:center;
    justify-content:center;
  }
  
  img {
  border-radius: 20px;
  padding: 10px;
  }
  img:hover {
    cursor:pointer;
    opacity: .5;
    transition: 0.5s;
    transform: scale(1);
  }

/* About */

#aboutme {
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
 min-height: 100vh;
 display: flex;
 align-items:flex-start;
 justify-content: center;
 background-image: url("img/gamer.jpg");
 background-size: 100%;
 background-position:center;
 background-color: white;
 overflow: hidden;
 padding: 100px 0;
}

#aboutme-inner {
    width: 45%;
    height: 400px;
    float: right;
    background-color: white;
    padding: 40px;
}
#aboutme-inner h1 {
    margin-bottom: 30px;
    margin-left: 100px;
    justify-content:center;
    position:relative;
    font-size: 30px;
    font-weight: 700;
}
.text {
    font-size: 13px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 100px;
}
#skills{
    display:flex;
    justify-content:center;
    font-weight: 700;
    font-size: 13px;
    margin-top: 0px;
    padding: 30px;
}


  /* video */

  .frame-container{
      position:relative;
      width: 100%;
      margin-top: 50%;
      padding-bottom: 10%;
      border-bottom: 1px solid lightgrey;
  }
  .iframe-container iframe{
      position: relative;
      top: 20px;
      left: 0;
      right: 100px;
      width: 100%;
      height: 100vh;
  }

/* Grid for project pages*/
.grid-2 img {
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    border-radius: 10px;
    padding: 5px;
  }
  .grid-2 img:hover{
    cursor:pointer;
    opacity: .5;
    transition: 0.5s;
    transform: scale(1.2);
  }
.grid-2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
  }
  .item {
    height: 100vh;
    width: 100vh;
    flex: 1;
    transition: 0.3s ease flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
 
  .item.show {
    flex: 1;
  }
  /* Contact*/
  .contact {
      margin:0;
      padding: 0;
      text-align: center;
      background: linear-gradient(rgba(105, 105, 241, 0.5), rgba(61, 61, 194, 0.5)), url(img/contact.jpg);
      background-size: ccenter;
      background-position: center;
  }
  #contact-title {
      margin-top: 100px;
      color: whitesmoke;
      text-transform: uppercase;
      transition:all 4s ease-in-out;
  }
  #contact-title h1{
      font-size: 32px;
      line-height: 10px;
  }
  
  form {
     margin-top: 50px; 
     transition: all 3s ease-in-out;
  }

  #form {
      width: 500px;
      background: transparent;
      border: none;
      border-bottom: 1px solid gray;
      color: #fff;
      font-size: 20px;
      margin-bottom: 20px;
  }
  textarea {
      font-size: 20px;
      text-align: center;
  }
  input {
      height: 50px;
      text-align: center; 
  }
  #form-send {
    color: lime;
    
  }



/*Footer*/
.footer {
    float: right;
    width: 100%;;
    content: '';
    display: table;
    clear: both;
    background-color: rgb(228, 133, 133);
}
.inner-footer {
    width: 100%;
    float: left;
    height: 100%;
    display: block;
}
.inner-footer ul{
    margin: 0;
    padding: 0px;
    list-style: none;
}

.inner-footer li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.inner-footer a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.inner-footer a:hover {
    color: white;
}
i {
    font-style: italic;
    color: #e21324;
}
.inner-footer h1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  color: black;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/*It's made for mobile first so I add media queries
for screens over 768px(tablet)*/

@media (min-width: 768px) {
    body {
      margin: 2px;
    }
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      align-content: flex-start;
    }
    .container-1 a {
      margin: 0px;
      color: black;
      font-size: 25px;
    }
    a {
      text-decoration: none;
      display: block;
      padding: 1em;
      color: black;
      font-size: 25px;
      font-family: Lora;
    }
  }
  @media only screen and (max-width: 768px) {
    section {
      flex-direction: column;
    }
    .item {
      flex: 1;
      height: 100px;
    }
    .item.show {
      flex: 10;
    }
    body {
      font-size: 14px;
    }
  }
  @media screen and (max-widt: 1200px) {
    #aboutme-inner h1{
        padding: 80px;

    }
    
}
@media screen and (max-widt: 1000px) {
    #aboutme {
        background-size: 100%;
        padding: 100px 40px;
    }
    #aboutme-inner{
        width: 100%;
    }
}